ul.soe-chat-gpt-keyword-list li {
    padding-left: 30px;
}

.kw-found-yes, .kw-found-some-are-missing, .kw-found-ok {
    color: green;
    padding: 15px;
}


.kw-found-no, .kw-found-missing {
    color: red;
    padding: 15px;
}

.kw-found-mostly-missing {
    color: orangered;
    padding: 15px;
}

.chat-gpt-seo-table, .chat-gpt-keywords-table {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.chat-gpt-seo-table th,
.chat-gpt-keywords-table th,
.chat-gpt-seo-table td,
.chat-gpt-keywords-table td {
    padding: 7px 15px;
    text-align: center;
}

.chat-gpt-seo-table th,
.chat-gpt-keywords-table th {
    font-size: 14px;
}

.chat-gpt-seo-table tr:hover td,
.chat-gpt-keywords-table tr:hover td {
    background-color: lightblue;
}

.chat-gpt-seo-table tr:nth-child(2n),
.chat-gpt-keywords-table tr:nth-child(2n) {
    background-color: lightcyan;
}

.chat-gpt-seo-table tr:nth-child(2n):hover td,
.chat-gpt-keywords-table tr:nth-child(2n):hover td {
    background-color: lightblue;
}

.seo-more-details {
    height: auto;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FFF;
    display: none;
    width: 100%;
    max-width: 800px;
    max-height: calc(100vh - 120px);
    z-index: 9992;
    overflow-y: auto;
    border-radius: 6px;
    text-align: left;

}

.seo-more-details.cgs--show {
    display: block;
}

.seo-more-info-container {
    margin: auto;
    padding: 30px;
}
.seo-more-info-header {
    padding:15px 30px;
    text-align: right;
}

.seo-more-info-container textarea {
    width: 100%;
    height: 400px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.seo-more-info-container a {

    cursor: pointer;
    width: auto;

    display: inline-block;
    padding: 15px 30px;
    border-radius: 6px;
    background-color: lightgreen;
    border: 1px solid green;
    margin: 15px auto 15px autp;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.seo-more-info-container p {
    font-size: 14px;
}

.seo-more-info-container p span {
    font-size: 12px;
}

.seo-more-info-container a.secondary {
    background-color: lightgrey;
    border: 1px solid grey;
}

.keyword-list ul, .keyword-list li {
    width: 100%;
    display: block;
}

.keyword-list ul > li > ul > li {
    padding-left: 30px;
    display: block;
    width: 100%;
}

ul.found-keywords {
    margin: 0;
}

ul.found-keywords li {
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

ul.found-in-places li {
    padding-left: 30px;
    font-size: 12px;
}

.chat-gpt-seo-status-wrap {
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    margin: 30px 0;
}

.chat-gpt-seo-status {
    width: 0;
    height: 20px;
    overflow: hidden;
    background: lightgreen;
    text-align: center;
    color:#000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.65);
}

.cgs--hide {
    display: none;
}

.cgs--show {
    display: block;
}


.cgs-modal-bg {
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9991;
    display: none;
}

.cgs-modal-bg.cgs--show {
    display: block;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    margin: 30px 0;
    width: 50%;
}

.dataTables_length select {
    width: auto;
    min-width: 50px;
}

.cgs-status {
    width: 100%;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.cgs-keywords-links {
    width: 100%;
    text-align: left;
    padding: 15px 0;
}

.cgs-keywords-links a {
    line-height: 2em;
}
